<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <link rel="stylesheet" href="/static/Bootstrap/css/bootstrap.css">
    <script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
    <style>
        #change_password {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 290px;
            height: 200px;
            margin-left: -145px;
            margin-top: -150px;
        }
    </style>
</head>
<body>
<div id="change_password">
    请输入原始密码：<br>
    <input type="password" id="former" class="form-control-sm"><span style="color:red" id="check_result"></span><br>
    请输入新密码：<br>
    <input type="password" id="latest" disabled="true" class="form-control-sm"><br>
    <br>
    <button type="button" id="change" class="btn btn btn-outline-secondary btn-sm">更改</button>
    <button type="button" id="close" class="btn btn btn-outline-secondary btn-sm">关闭</button>
</div>
</body>
<script>
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
    });
    $("#former").blur(function () {
        var former = $("#former").val();
        $("#latest").attr('disabled', true);
        {#        console.log($("#former").val());#}
        $.ajax({
            url: '/admin/checkpwd',
            data: {
                'former': former
            },
            type: 'POST',
            success: function (data) {
                $('#check_result').html(data);
                if (data == '认证成功') {
                    $("#latest").attr('disabled', false);
                }
            },
            error: function (data) {
                console.log(data);
            }

        })
    });
    $('#change').click(function () {
        var latest = $("#latest").val();
        if (latest === "") {
            alert("不能为空！请重新填写");
        }
        else {
            $.ajax({
                url: '/op_chagpwd',
                data: {
                    'latest': latest
                },
                type: "POST",
                success: function (data) {
                    alert('更改成功！');
                    close();
                    window.location.href = '/admin/base'
                },
                error: function (data) {
                    console.log(data);
                }
            });
        }
    });
    $('#close').click(function () {
        window.location.href = '/admin/base'
    });
</script>
</html>