<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
</head>
<body>
请输入原始密码：<br>
<input type="password" id="former"><span style="color:red" id="check_result"></span><br>
请输入新密码：<br>
<input type="password" id="latest" disabled="true"><br>
<button type="button" id="change">更改</button>

</body>
<script>
    $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
        });
    $("#former").blur(function(){
        var former = $("#former").val();
{#        console.log($("#former").val());#}
        $.ajax({
            url:'/checkpwd',
            data:{
                'former': former
            },
            type:'POST',
            success:function(data){
                $('#check_result').html(data);
                if(data == '认证成功')
                {
                    $("#latest").attr('disabled',false);
                }
            },
            error:function(data){
                console.log(data);
            }

        })
  });
    $('#change').click(function () {
        var latest = $("#latest").val();
        if (latest === "") {
            alert("不能为空！请重新填写");
        }
        else{
            $.ajax({
                url: '/op_chagpwd',
                data: {
                    'latest':latest
                },
                type: "POST",
                success: function (data) {
                    alert('更改成功！');
                    close();
                    window.location.href='/welcome'
                },
                error: function (data) {
                    console.log(data);
                }
            });
        }
    });
</script>
</html>