<table class="table table-bordered">
    <tbody>
    {% if infolist %}
        <tr>
            <th>数目</th>
            <th>项目名称</th>
            <th>导师姓名</th>
            <th>负责人</th>
            <th>成员</th>
        </tr>
        {% for i in infolist %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.pro_name }}</td>
                <td>{{ i.name }}</td>
                <td>{{ i.tutor_id }}</td>
                <td>{{ i.pro_mems }}</td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>

