<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>导出word</title>
    <script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
</head>
<body>
<button id="send_email">发送邮件</button>
<div id="result"></div>
<script>
    $('#send_email').click(function(){
        $.ajax({
            url:'send_email',
            data:'',
            success:function(data){
                $('#result').html(data);
            },
            error:function(data){
                console.log(data);
            }
        })
    })
</script>
</body>
</html>